<div class="container" style="font-size: 18px; line-height: 1.6;">
  <h2>
    எம்மைப் பற்றி
  </h2>

  <div class="about-body">
    <p>
      நாம் எமது இந்த சேவையை பொழுது போகாமல் நடாத்தி வருகிறோம். எமது இந்த சேவை மேலும் தொடந்து நடாத்த உங்களுடைய ஒத்துழைப்பும் ஆதரவும் எமக்கு தேவை.

      எமது இந்த சேவையானது நாளாந்தம் தமிழின் பல்லாயிரக்கணக்கான நிகழ்வுகளை ஓரிடத்தில் குவிப்பதுவும் குவிப்பவர்களை ஊக்குவிப்பதுவும் ஆகும். குவிப்பவர்களே கலைஞராக இருந்தால் இரட்டிப்பு மகிழ்ச்சி. ஏனெனில் நீங்கள் தயாரித்து தமிழ் டிவியில் இணைத்து நிறைய ஓட்டுப் பெற்று (கள்ள ஓட்டும் சேர்த்துத்தான் :)) முன்னணி பெறும் உங்கள் சொந்த ஆக்கங்களை - (கவனிக்கவும் - ஏனெனில் சொந்தம் எது சுட்டது என எமக்குத் தெரியாத காரணத்தினால் நீங்களே மனட்சாட்சியை சாட்சிக்கு வைத்திருக்கவும் ) கனடா, இங்கிலாந்து நாடுகளில் வெளியாகும் பல்சுவைத் தமிழ் தொலைக்காட்சியொன்றில் வெளியிட்டு இணைய வெளி தாண்டிய வெளிகளிலும் அவற்றை கொண்டு செல்வதற்கு அதன் நிர்வாக பீடத்தின் அனுமதியை பெற்றிருக்கிறோம்.

      உங்கள் நிகழ்ச்சிகள் அறுவை முதல் அரசியல் வரை எதுவாகவும் இருக்கலாம். வாசகர்களின் கண்களில் தட்டுப்படாது ஓட்டிழந்த நல்ல நிகழ்ச்சிகளுக்கு நாங்களே ஓட்டழுத்தி உள்ளிளுக்கும் உத்தரவாதமும் உண்டு. :)

      தவிர பரிசுப் பொருட்களும் உண்டு.
    </p>

    <p>
      எமக்காக இது வரை காலமும் ஆதரவாக இருந்த (இப்பொழுது தான் ஆரம்பித்தாலும் ) அனைவருக்கும் நன்றியை தெரிவித்துக் கொள்கிறோம்.

      மேலதிக விபரங்களும் உண்டு. ஆதரவு கண்டு - (ஆதரவு இல்லையெனில் அடித்து மூடிவிட்டு போய்க் கொண்டே இருக்க வேண்டியது தான். எவ்வளவோ பண்ணிட்டமாம். இத பண்ண மாட்டோமா ?
    </p>
  </div>

  <div>
    <p>
      நன்றி
    </p>

    <div>
      தமிழ் டிவி
    </div>
    <div>
      நிர்வாகம்
    </div>
  </div>

</div>
