<div class="container">
  <div class="contactus-container">
    <h1>Contact Us</h1>

    <ul class="list-unstyled">
      <li class="card">
        <address>
          <div class="country">UK</div>
          2 Purley Way, CR0 3JP Croydon, <br />
          United Kingdom <br />

          <div class="telephone">Tel: <b>020 7043 4316</b></div>
        </address>
      </li>
      <li class="card">
        <address>
          <div class="country">Canada</div>
          3300 McNicoll Avenue, # 216, <br />
          Scarborough, ON, M1V 5J6, <br />
          CANADA

          <div class="telephone">Tel: <b>020 7043 4316</b></div>
        </address>
      </li>
      <li class="card">
        <address>
          <div class="country">Tamil Eelam</div>
          2 Purley Way, CR0 3JP Croydon, <br />
          United Kingdom <br />

          <div class="telephone">Tel: <b>020 7043 4316</b></div>
        </address>
      </li>
      <li class="card">
        <address>
          <div class="country">Sri Lanka</div>
          1 Jayawardenapura, <br />
          Kotte <br />
          Sri Lanka

          <div class="telephone">Tel: <b>020 7043 4316</b></div>
        </address>
      </li>
    </ul>
  </div>
</div>
