<div id={{clapprParentId}}></div>

<div class="gallery-topic-overlay" {{action "playInTV" topic}}>
  {{topic.title}}
</div>
{{!clappr-video url="http://giant.gfycat.com/FineDangerousFruitbat.mp4" parentId=clapprParentId}}

{{!link-to 'Link' 'topic' topic.slug topic.id class="gallery-topic-actions"}}
