<div class="share-section">
  <label>
    {{input type="checkbox" checked=facebook.share}}
    Share on Facebook
  </label>

  {{input value=facebook.link placeholder="Enter the link to share" disabled=disableFacebookLink}}
  {{textarea value=facebook.message placeholder="Enter the status/description" disabled=disableFacebookLink}}
</div>
