<div class="container gallery-container">
  {{tamil-tv url=tvUrl post=tvPost}}

  <!-- {{#each sortedCategories as |category|}}
    <div class="gallery-row">
      <div class="gallery-header">
        {{category-title-link category=category}}
        {{#unless category.logo_url}}
          {{category-unread category=category}}
        {{/unless}}
      </div>

      <ul class="gallery-topics-row">
        {{#each category.featuredTopics as |topic|}}
          {{gallery-topic topic=topic action="playInTV"}}
        {{/each}}
      </ul>
    </div>
  {{/each}} -->
</div>
