<div class="container gallery-container">
  {{tamil-tv url=tvUrl topic=tvTopic post=tvPost isYTVideo=isYTVideo}}

  {{#each groupedTopics as |item|}}
    {{#if item.items}}
      {{gallery-topic-list topicGroup=item}}
    {{/if}}
  {{/each}}
</div>
