<div class="container gallery-container">
  {{tamil-tv url=tvUrl post=tvPost isYTVideo=isYTVideo}}

    {{#each groupedTopics as |item|}}
    <div class="gallery-row">
      <div class="gallery-header">
        <h3>{{item.value}}</h3>
      </div>

      <ul class="gallery-topics-row">
        {{#each item.items as |topic|}}
          {{gallery-topic topic=topic action="playInTV"}}
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
