//Discourse overrides

ol.category-breadcrumb, #navigation-bar {
  display: none;
}

.docked .d-header {
  top: 40px;
}

#main-outlet {
  padding-top: 132px;
}

// Gallery styles

.gallery-row {
  margin-bottom: 40px;
}

ul.gallery-topics-row {
  list-style: none;
  margin: 20px 0 0 0;

  li {
    margin-right: 2.5%;
    margin-bottom: 25px;
  }

  li:nth-child(4n) {
    margin-right: 0;
  }

  &::before, &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.gallery-topic-item-container {
  position: relative;
  float: left;
  width: 260px;
  height: 270px;
  box-shadow: 0px 0px 1px 0px #666;
  background-color: #fff;
  border: 1px solid #1F7C83;
  text-align: center;
  color: #fff;
  font-weight: 300;
  opacity: 0.7;
}

.gallery-topic-item {
  padding: 2px 2px 40px 2px;

  .status {
    color: #333;
    margin-top: 10px;

    span + span {
      margin-left: 10px;
    }
  }
}

.gallery-topic-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.primary-tv {
  color: #fff;
  margin-bottom: 65px;

  .topic-status {
    color: #fff;
    background-color: #969594;
    padding: 10px 20px;

    .topic-actions {
      text-align: right;
      float: right;
      margin-top: 5px;
    }

    a, a:hover {
      color: #fff;
    }

    span {
      cursor: pointer;
    }

    span + span {
      margin-left: 20px;
    }
  }
}

.gallery-topic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

//About page
.about-body {
  margin: 30px 0;
}


//Contact Us Page
.contactus-container {
  margin-top: 15px;
  margin-bottom: 50px;
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-unstyled li {
  display: inline-block;
  float: left;
}

ul.list-unstyled:before, ul.list-unstyled:after {
  content: "";
  display: table;
  clear: both;
}

li.card {
  margin: 20px 30px 20px 0;
  box-shadow: 0px 1px 3px 0px #ccc;
  padding: 20px 25px;
  width: 215px;
  height: 180px;
  background-color: #fafafa;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
}

address .country {
  font-size: 30px;
  color: #CD4A37;
  margin-bottom: 10px;
}

.address-line {
  white-space: pre-wrap;
}

address .telephone {
  margin-top: 20px;
}

.firebase-pusher {
  margin: 10px 0;

  textarea {
    width: 100%;
  }
}
